body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
}

h1 {
    text-align: center;
    color: #333;
}

canvas {
    max-width: 100%;
    height: auto;
    max-height: 500px; /* Set maximum height for the chart */
}

.controls {
    margin-bottom: 20px;
    text-align: center;
}

.controls label, .controls select {
    margin-right: 10px;
    font-size: 1em;
}

.product-table-container {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.product-table-container h2 {
    color: #333;
    margin-bottom: 15px;
}

#productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#productTable th, #productTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#productTable th {
    background-color: #f2f2f2;
    color: #333;
}

#productTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#productTable tbody tr:hover {
    background-color: #f1f1f1;
}
